@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html,
body {
    font-family: "Open Sans", sans-serif;
}

input:focus,
input.form-control:focus {

    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.text-center {
    text-align: center;
}

.btn1 {

    background-color: #fb9004 !important;
    transition: transform 250ms ease-out;
}

.btn1:hover {
    background-color: #ffa631 !important;
    transform: scale(1.1);
    transform-origin: center;
}

.button:hover {

    transform: scale(1.1);
    transform-origin: center;
}


.red {
    color: crimson;
    font-style: italic;
}

.bg-red {
    background: linear-gradient(to top, #000000 0%, #ffffff 100%);
    width: 276px;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 20px 20px 50px grey;

}

.mx-auto {
    margin: auto;

}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column
}

.item-center {
    align-items: center;

}

.button {
    padding: 20px;
    margin: 0 3px;
    border-radius: 15px;
    cursor: pointer;
    width: 60px;
    background-color: white;
    color: black;
    font-weight: bold;
    transition: transform 250ms ease-out;

}



.row {
    margin: 8px 0;

}

.row input {
    font-size: 22px;
    margin: 0px;
    padding: 15px 4px;
    text-align: left;
    font-weight: bold;
    border-radius: 10px;
}